.slick-slide{
    margin: 10px;
    border-radius: 10px;
}
.slick-list{
    height: 220px;
}
.cader{
    width: 100px ;
}

@media screen and (max-width: 768px) {
    .cader{
        width: 100px ;
    }
    
}